@import '../../styles/variables';

.howOrder{
    margin-top: 100px;
    position: relative;
    padding: 0 15px;
}

.titleBlock{
    padding-left: 25px;
    margin-bottom: 65px;
}

.steps{
    position: relative;
    padding-left: 35%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px 95px;
    &::before{
        position: absolute;
        content: '';
        height: 100%;
        right: -45px;
        width: 1px;
        background: $light-pink;
    }
}

.img{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

@media screen and (max-width:768px) {
    .steps{
        grid-template-columns: repeat(1,1fr);
        padding-left: 0%;
        text-align: center;
        &::before{
            display: none;
        }
    }
    .img{
        filter: brightness(40%);
    }    
}