@import "../../../styles/variables";

.button{
    width: 220px;
    height: 50px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    color: $main-background;
    background-color: $main;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover{
        color: $white;
        background: $black-violet;
        transition: all 0.5s ease;
    }
    &:active{
        color: $white;
        background: $black-violet;
        box-shadow: inset 0px 0px 10px #1B000E;
        transition: all 0.5s ease;
    }
}

.cartButton{
    width: 220px;
    height: 50px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    &:hover{
        color: $white;
        background: $black-violet;
        transition: all 0.5s ease;
    }
    &:active{
        color: $white;
        background: $black-violet;
        box-shadow: inset 0px 0px 10px #1B000E;
        transition: all 0.5s ease;
    }
}

.disabled{
    pointer-events: none;
    color: $white;
    background: $main;
}