@import '../../../styles/variables';

.cartItem{
    display: flex;
    justify-content: center;
}


.content{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__bottom{
        display: flex;
        gap: 100px;
        justify-content: space-between;
    }
}

.title{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $white;
}

.cost{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main;
}

.delete{
    cursor: pointer;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    text-transform: uppercase;
    background: transparent;
    border: none;
    transition: all 0.5s ease;
    color: $white;
    &:hover{
        transition: all 0.5s ease;
        color: $black-violet;
    }
}

.imgBlock{
    width: 100px;
    height: 120px;
}

.img{
    width: 100px;
    height: 120px;
}

@media screen and (max-width:1100px) {
    .content{
        &__bottom{
            gap: 25px;
        }
    }
}

@media screen and (max-width:470px) {
    .content{
        margin-left: 15px;
        &__bottom{
            gap: 15px;
        }
    }
    .imgBlock{
        width: 80px;
        height: 120px;
    }
    .img{
        width: 80px;
        height: 120px;
    }
}