.counter{
    width: 80px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border: 0.5px solid #555555;
}

.value{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}

.btn{
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    border: none;
    background: transparent;
    color: #555555;
    transition: all 0.5s ease;
    &:hover{
        transition: all 0.5s ease;
        color: white;
        background: rgba(0,0,0,0.5);
    }
}